src/infra/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "sites_demo_eda_name": {
            "defaultValue": "demo-eda",
            "type": "String"
        },
        "workflows_HRSystem_name": {
            "defaultValue": "HRSystem",
            "type": "String"
        },
        "connections_office365_name": {
            "defaultValue": "office365",
            "type": "String"
        },
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        },
        "components_demo_eda_name": {
            "defaultValue": "demo-eda",
            "type": "String"
        },
        "staticSites_wellbeing_app_name": {
            "defaultValue": "wellbeing-app",
            "type": "String"
        },
        "connections_azureeventgrid_name": {
            "defaultValue": "azureeventgrid",
            "type": "String"
        },
        "topics_eda_demo_topic_name": {
            "defaultValue": "eda-demo-topic",
            "type": "String"
        },
        "storageAccounts_edastore_name": {
            "defaultValue": "edastore",
            "type": "String"
        },
        "workflows_CorrespondenceSystem_name": {
            "defaultValue": "CorrespondenceSystem",
            "type": "String"
        },
        "namespaces_contoso_eda_demo_name": {
            "defaultValue": "contoso-eda-demo",
            "type": "String"
        },
        "databaseAccounts_wellbeingstore_name": {
            "defaultValue": "wellbeingstore",
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___demo_eda_name": {
            "defaultValue": "failure anomalies - demo-eda",
            "type": "String"
        },
        "actiongroups_application_insights_smart_detection_externalid": {
            "defaultValue": "/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/resourceGroups/appservice_demo_rg/providers/microsoft.insights/actiongroups/application insights smart detection",
            "type": "String"
        },
        "workspaces_defaultworkspace_8c98d9ee_59e7_4a29_a204_2e7c8471fda1_eau_externalid": {
            "defaultValue": "/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/resourceGroups/defaultresourcegroup-eau/providers/microsoft.operationalinsights/workspaces/defaultworkspace-8c98d9ee-59e7-4a29-a204-2e7c8471fda1-eau",
            "type": "String"
        },
        "serverfarms_ASP_eventdrivenrg_9ed9_externalid": {
            "defaultValue": "/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/resourceGroups/event-driven-rg/providers/Microsoft.Web/serverfarms/ASP-eventdrivenrg-9ed9",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "apiVersion": "2021-10-15",
            "name": "[parameters('databaseAccounts_wellbeingstore_name')]",
            "location": "Australia East",
            "tags": {
                "defaultExperience": "Core (SQL)",
                "hidden-cosmos-mmspecial": ""
            },
            "kind": "GlobalDocumentDB",
            "identity": {
                "type": "None"
            },
            "properties": {
                "publicNetworkAccess": "Enabled",
                "enableAutomaticFailover": false,
                "enableMultipleWriteLocations": false,
                "isVirtualNetworkFilterEnabled": false,
                "virtualNetworkRules": [],
                "disableKeyBasedMetadataWriteAccess": false,
                "enableFreeTier": false,
                "enableAnalyticalStorage": false,
                "analyticalStorageConfiguration": {
                    "schemaType": "WellDefined"
                },
                "databaseAccountOfferType": "Standard",
                "defaultIdentity": "FirstPartyIdentity",
                "networkAclBypass": "None",
                "disableLocalAuth": false,
                "consistencyPolicy": {
                    "defaultConsistencyLevel": "Session",
                    "maxIntervalInSeconds": 5,
                    "maxStalenessPrefix": 100
                },
                "locations": [
                    {
                        "locationName": "Australia East",
                        "provisioningState": "Succeeded",
                        "failoverPriority": 0,
                        "isZoneRedundant": false
                    }
                ],
                "cors": [],
                "capabilities": [
                    {
                        "name": "EnableServerless"
                    }
                ],
                "ipRules": [],
                "backupPolicy": {
                    "type": "Periodic",
                    "periodicModeProperties": {
                        "backupIntervalInMinutes": 240,
                        "backupRetentionIntervalInHours": 8,
                        "backupStorageRedundancy": "Geo"
                    }
                },
                "networkAclBypassResourceIds": []
            }
        },
        {
            "type": "Microsoft.EventGrid/topics",
            "apiVersion": "2021-12-01",
            "name": "[parameters('topics_eda_demo_topic_name')]",
            "location": "australiaeast",
            "identity": {
                "type": "None"
            },
            "properties": {
                "inputSchema": "EventGridSchema",
                "publicNetworkAccess": "Enabled",
                "disableLocalAuth": false
            }
        },
        {
            "type": "microsoft.insights/components",
            "apiVersion": "2020-02-02",
            "name": "[parameters('components_demo_eda_name')]",
            "location": "australiaeast",
            "kind": "web",
            "properties": {
                "Application_Type": "web",
                "Flow_Type": "Redfield",
                "Request_Source": "IbizaWebAppExtensionCreate",
                "RetentionInDays": 90,
                "WorkspaceResourceId": "[parameters('workspaces_defaultworkspace_8c98d9ee_59e7_4a29_a204_2e7c8471fda1_eau_externalid')]",
                "IngestionMode": "LogAnalytics",
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_HRSystem_name')]",
            "location": "australiaeast",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "data": {
                                                "properties": {
                                                    "Data": {
                                                        "properties": {
                                                            "OrchestratorName": {
                                                                "type": "string"
                                                            },
                                                            "ResponseMessage": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Id": {
                                                        "type": "string"
                                                    },
                                                    "Target": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "dataVersion": {
                                                "type": "string"
                                            },
                                            "eventTime": {
                                                "type": "string"
                                            },
                                            "eventType": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "metadataVersion": {
                                                "type": "string"
                                            },
                                            "subject": {
                                                "type": "string"
                                            },
                                            "topic": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "subject",
                                            "data",
                                            "eventType",
                                            "dataVersion",
                                            "metadataVersion",
                                            "eventTime",
                                            "topic"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "actions": {},
                    "outputs": {}
                },
                "parameters": {}
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces",
            "apiVersion": "2021-06-01-preview",
            "name": "[parameters('namespaces_contoso_eda_demo_name')]",
            "location": "Australia East",
            "sku": {
                "name": "Standard",
                "tier": "Standard"
            },
            "properties": {
                "disableLocalAuth": false,
                "zoneRedundant": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-06-01",
            "name": "[parameters('storageAccounts_edastore_name')]",
            "location": "australiaeast",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "defaultToOAuthAuthentication": false,
                "allowCrossTenantReplication": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "allowSharedKeyAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "requireInfrastructureEncryption": false,
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureeventgrid_name')]",
            "location": "australiaeast",
            "kind": "V1",
            "properties": {
                "displayName": "susudhee@microsoft.com",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {
                    "token:TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
                    "token:grantType": "code"
                },
                "createdTime": "2022-02-06T05:50:12.647635Z",
                "changedTime": "2022-02-11T09:52:39.4043853Z",
                "api": {
                    "name": "[parameters('connections_azureeventgrid_name')]",
                    "displayName": "Azure Event Grid",
                    "description": "Azure Event Grid is an eventing backplane that enables event based programing with pub/sub semantics and reliable distribution & delivery for all services in Azure as well as third parties.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1538/1.0.1538.2619/', parameters('connections_azureeventgrid_name'), '/icon.png')]",
                    "brandColor": "#0072c6",
                    "id": "[concat('/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/providers/Microsoft.Web/locations/australiaeast/managedApis/', parameters('connections_azureeventgrid_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "australiaeast",
            "kind": "V1",
            "properties": {
                "displayName": "susudhee@microsoft.com",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2022-02-04T07:49:25.0743986Z",
                "changedTime": "2022-02-12T02:27:39.2591269Z",
                "api": {
                    "name": "[parameters('connections_office365_name')]",
                    "displayName": "Office 365 Outlook",
                    "description": "Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1538/1.0.1538.2621/', parameters('connections_office365_name'), '/icon.png')]",
                    "brandColor": "#0078D4",
                    "id": "[concat('/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/providers/Microsoft.Web/locations/australiaeast/managedApis/', parameters('connections_office365_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/resourceGroups/eda-demo-rg/providers/Microsoft.Web/connections/', parameters('connections_office365_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_servicebus_name')]",
            "location": "australiaeast",
            "kind": "V1",
            "properties": {
                "displayName": "[concat('correspondence-', parameters('connections_servicebus_name'))]",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2022-02-09T11:40:49.3509434Z",
                "changedTime": "2022-02-09T11:40:49.3821952Z",
                "api": {
                    "name": "[parameters('connections_servicebus_name')]",
                    "displayName": "Service Bus",
                    "description": "Connect to Azure Service Bus to send and receive messages. You can perform actions such as send to queue, send to topic, receive from queue, receive from subscription, etc.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1546/1.0.1546.2665/', parameters('connections_servicebus_name'), '/icon.png')]",
                    "brandColor": "#c4d5ff",
                    "id": "[concat('/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/providers/Microsoft.Web/locations/australiaeast/managedApis/', parameters('connections_servicebus_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2021-02-01",
            "name": "[parameters('sites_demo_eda_name')]",
            "location": "Australia East",
            "kind": "functionapp",
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "[concat(parameters('sites_demo_eda_name'), '.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "hostType": "Standard"
                    },
                    {
                        "name": "[concat(parameters('sites_demo_eda_name'), '.scm.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[parameters('serverfarms_ASP_eventdrivenrg_9ed9_externalid')]",
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "siteConfig": {
                    "numberOfWorkers": 1,
                    "acrUseManagedIdentityCreds": false,
                    "alwaysOn": false,
                    "http20Enabled": false,
                    "functionAppScaleLimit": 200,
                    "minimumElasticInstanceCount": 1
                },
                "scmSiteAlsoStopped": false,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "clientCertMode": "Required",
                "hostNamesDisabled": false,
                "customDomainVerificationId": "281D19402D462F10200044106E5DCBFB02BC8C43AC43793F92D6E49CDD10CDE1",
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "httpsOnly": true,
                "redundancyMode": "None",
                "storageAccountRequired": false,
                "keyVaultReferenceIdentity": "SystemAssigned"
            }
        },
        {
            "type": "Microsoft.Web/staticSites",
            "apiVersion": "2021-02-01",
            "name": "[parameters('staticSites_wellbeing_app_name')]",
            "location": "West US 2",
            "sku": {
                "name": "Standard",
                "tier": "Standard"
            },
            "properties": {
                "repositoryUrl": "https://github.com/ms-app-innovation/wellbeing",
                "branch": "main",
                "stagingEnvironmentPolicy": "Enabled",
                "allowConfigFileUpdates": true
            }
        },
        {
            "type": "microsoft.alertsmanagement/smartdetectoralertrules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('smartdetectoralertrules_failure_anomalies___demo_eda_name')]",
            "location": "global",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
                "state": "Enabled",
                "severity": "Sev3",
                "frequency": "PT1M",
                "detector": {
                    "id": "FailureAnomaliesDetector"
                },
                "scope": [
                    "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
                ],
                "actionGroups": {
                    "groupIds": [
                        "[parameters('actiongroups_application_insights_smart_detection_externalid')]"
                    ]
                }
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/wellbeing-db')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "resource": {
                    "id": "wellbeing-db"
                }
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlRoleDefinitions",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/00000000-0000-0000-0000-000000000001')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "roleName": "Cosmos DB Built-in Data Reader",
                "type": "BuiltInRole",
                "assignableScopes": [
                    "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
                ],
                "permissions": [
                    {
                        "dataActions": [
                            "Microsoft.DocumentDB/databaseAccounts/readMetadata",
                            "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/executeQuery",
                            "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readChangeFeed",
                            "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/read"
                        ],
                        "notDataActions": []
                    }
                ]
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlRoleDefinitions",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/00000000-0000-0000-0000-000000000002')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "roleName": "Cosmos DB Built-in Data Contributor",
                "type": "BuiltInRole",
                "assignableScopes": [
                    "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
                ],
                "permissions": [
                    {
                        "dataActions": [
                            "Microsoft.DocumentDB/databaseAccounts/readMetadata",
                            "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/*",
                            "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/*"
                        ],
                        "notDataActions": []
                    }
                ]
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/degradationindependencyduration')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "degradationindependencyduration",
                    "DisplayName": "Degradation in dependency duration",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/degradationinserverresponsetime')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "degradationinserverresponsetime",
                    "DisplayName": "Degradation in server response time",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/digestMailConfiguration')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "digestMailConfiguration",
                    "DisplayName": "Digest Mail Configuration",
                    "Description": "This rule describes the digest mail preferences",
                    "HelpUrl": "www.homail.com",
                    "IsHidden": true,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/extension_billingdatavolumedailyspikeextension')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_billingdatavolumedailyspikeextension",
                    "DisplayName": "Abnormal rise in daily data volume (preview)",
                    "Description": "This detection rule automatically analyzes the billing data generated by your application, and can warn you about an unusual increase in your application's billing costs",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/tree/master/SmartDetection/billing-data-volume-daily-spike.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/extension_canaryextension')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_canaryextension",
                    "DisplayName": "Canary extension",
                    "Description": "Canary extension",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/",
                    "IsHidden": true,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/extension_exceptionchangeextension')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_exceptionchangeextension",
                    "DisplayName": "Abnormal rise in exception volume (preview)",
                    "Description": "This detection rule automatically analyzes the exceptions thrown in your application, and can warn you about unusual patterns in your exception telemetry.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/abnormal-rise-in-exception-volume.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/extension_memoryleakextension')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_memoryleakextension",
                    "DisplayName": "Potential memory leak detected (preview)",
                    "Description": "This detection rule automatically analyzes the memory consumption of each process in your application, and can warn you about potential memory leaks or increased memory consumption.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/tree/master/SmartDetection/memory-leak.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/extension_securityextensionspackage')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_securityextensionspackage",
                    "DisplayName": "Potential security issue detected (preview)",
                    "Description": "This detection rule automatically analyzes the telemetry generated by your application and detects potential security issues.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/application-security-detection-pack.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/extension_traceseveritydetector')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "extension_traceseveritydetector",
                    "DisplayName": "Degradation in trace severity ratio (preview)",
                    "Description": "This detection rule automatically analyzes the trace logs emitted from your application, and can warn you about unusual patterns in the severity of your trace telemetry.",
                    "HelpUrl": "https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SmartDetection/degradation-in-trace-severity-ratio.md",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/longdependencyduration')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "longdependencyduration",
                    "DisplayName": "Long dependency duration",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/migrationToAlertRulesCompleted')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "migrationToAlertRulesCompleted",
                    "DisplayName": "Migration To Alert Rules Completed",
                    "Description": "A configuration that controls the migration state of Smart Detection to Smart Alerts",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": true,
                    "IsEnabledByDefault": false,
                    "IsInPreview": true,
                    "SupportsEmailNotifications": false
                },
                "enabled": false,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/slowpageloadtime')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "slowpageloadtime",
                    "DisplayName": "Slow page load time",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "microsoft.insights/components/ProactiveDetectionConfigs",
            "apiVersion": "2018-05-01-preview",
            "name": "[concat(parameters('components_demo_eda_name'), '/slowserverresponsetime')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_demo_eda_name'))]"
            ],
            "properties": {
                "ruleDefinitions": {
                    "Name": "slowserverresponsetime",
                    "DisplayName": "Slow server response time",
                    "Description": "Smart Detection rules notify you of performance anomaly issues.",
                    "HelpUrl": "https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics",
                    "IsHidden": false,
                    "IsEnabledByDefault": true,
                    "IsInPreview": false,
                    "SupportsEmailNotifications": true
                },
                "enabled": true,
                "sendEmailsToSubscriptionOwners": true,
                "customEmails": []
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/AuthorizationRules",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/RootManageSharedAccessKey')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "rights": [
                    "Listen",
                    "Manage",
                    "Send"
                ]
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/networkRuleSets",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/default')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "publicNetworkAccess": "Enabled",
                "defaultAction": "Allow",
                "virtualNetworkRules": [],
                "ipRules": []
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/chitterchatter')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "maxMessageSizeInKilobytes": 256,
                "defaultMessageTimeToLive": "P14D",
                "maxSizeInMegabytes": 1024,
                "requiresDuplicateDetection": false,
                "duplicateDetectionHistoryTimeWindow": "PT10M",
                "enableBatchedOperations": true,
                "status": "Active",
                "supportOrdering": true,
                "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
                "enablePartitioning": false,
                "enableExpress": false
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/correspondencesent')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "maxMessageSizeInKilobytes": 256,
                "defaultMessageTimeToLive": "P14D",
                "maxSizeInMegabytes": 1024,
                "requiresDuplicateDetection": false,
                "duplicateDetectionHistoryTimeWindow": "PT10M",
                "enableBatchedOperations": true,
                "status": "Active",
                "supportOrdering": true,
                "autoDeleteOnIdle": "P10675199DT2H48M5.4775807S",
                "enablePartitioning": false,
                "enableExpress": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_edastore_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_edastore_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "changeFeed": {
                    "enabled": false
                },
                "restorePolicy": {
                    "enabled": false
                },
                "containerDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                },
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                },
                "isVersioningEnabled": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_edastore_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_edastore_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "protocolSettings": {
                    "smb": {}
                },
                "cors": {
                    "corsRules": []
                },
                "shareDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_edastore_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_edastore_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_edastore_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_edastore_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Web/sites/basicPublishingCredentialsPolicies",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/ftp')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "allow": true
            }
        },
        {
            "type": "Microsoft.Web/sites/basicPublishingCredentialsPolicies",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/scm')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "allow": true
            }
        },
        {
            "type": "Microsoft.Web/sites/config",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/web')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v6.0",
                "phpVersion": "5.6",
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "remoteDebuggingVersion": "VS2019",
                "httpLoggingEnabled": false,
                "acrUseManagedIdentityCreds": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$demo-eda",
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false
                    }
                ],
                "loadBalancing": "LeastRequests",
                "experiments": {
                    "rampUpRules": []
                },
                "autoHealEnabled": false,
                "vnetRouteAllEnabled": false,
                "vnetPrivatePortsCount": 0,
                "cors": {
                    "allowedOrigins": [
                        "https://ms.portal.azure.com"
                    ],
                    "supportCredentials": false
                },
                "localMySqlEnabled": false,
                "ipSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 1,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 1,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictionsUseMain": false,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "scmMinTlsVersion": "1.0",
                "ftpsState": "AllAllowed",
                "preWarmedInstanceCount": 0,
                "functionAppScaleLimit": 200,
                "functionsRuntimeScaleMonitoringEnabled": false,
                "minimumElasticInstanceCount": 1,
                "azureStorageAccounts": {}
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/1fce9c4a75f24152b5c1e88f78a3bc4a')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"42ae86c52d86325b2dd7c34150fa5835ec15402b\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-09T12:17:36.9348361Z",
                "end_time": "2022-02-09T12:17:46.0342632Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/1fd60613988c4dacb151634d044102c2')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"942bcd166c2076c510788df3c69e1eda50f06859\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-05T07:58:38.0551283Z",
                "end_time": "2022-02-05T07:58:46.7534846Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/28dc331cba5a4c719cc2a1b7bbaea6ee')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"05321771fea52d3282e37f69f66b6b271a1a35be\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-05T08:47:13.2441243Z",
                "end_time": "2022-02-05T08:47:22.1718922Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/330e94d8d07f41908ae3d9f709cda906')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"bb3cd6883848993d5153519387b32e94f67aa786\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-09T12:30:50.1582411Z",
                "end_time": "2022-02-09T12:30:56.5905812Z",
                "active": true
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/3c1dbd849e0e41c9bdbd75f8a456b12d')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"fd1e29fcbc3793693c6c62de57b34ca5553db58d\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-07T07:17:15.6685607Z",
                "end_time": "2022-02-07T07:17:25.1215457Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/3fed40c8e6f043da9dabd1107a98e75b')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"0e34cea63750e715af363b7c8efb34c8d11e397f\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-05T07:18:19.8599793Z",
                "end_time": "2022-02-05T07:18:26.1425627Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/613f923215ed4113ab712cd6980dfe11')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"143e5d208ad6087a0fc826d96c175142aaafbd21\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-07T13:57:06.1875096Z",
                "end_time": "2022-02-07T13:57:13.5524214Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/8def1a5427514244b87b3b57ff9ec907')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"124d9ac2fee2e36e083bc9e477b25cc336ad55c6\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-06T07:43:15.4332545Z",
                "end_time": "2022-02-06T07:43:25.8121535Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/9b5d9b5433ac495b822fb07609af1657')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"b843828ce8117a3a6dce12e8141295644981c947\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-05T08:28:04.8018968Z",
                "end_time": "2022-02-05T08:28:12.089133Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/deployments",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/c57fd0a50e2e403fa261a0636e86230a')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "status": 4,
                "author_email": "N/A",
                "author": "N/A",
                "deployer": "GITHUB_ZIP_DEPLOY",
                "message": "{\"type\":\"deployment\",\"sha\":\"832dc27036a46316280332bf9a0f7f2a785b7156\",\"repoName\":\"ms-app-innovation/wellbeing\",\"slotName\":\"production\"}",
                "start_time": "2022-02-05T08:27:11.3451627Z",
                "end_time": "2022-02-05T08:27:20.9756665Z",
                "active": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/BroadcastSentimentActivity')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/BroadcastSentimentActivity/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/BroadcastSentimentActivity/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/BroadcastSentimentActivity.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/BroadcastSentimentActivity",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/BroadcastSentimentActivity-v5')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/BroadcastSentimentActivity-v5/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/BroadcastSentimentActivity-v5/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/BroadcastSentimentActivity-v5.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/BroadcastSentimentActivity-v5",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/CosmosDispatcher')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/CosmosDispatcher/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/CosmosDispatcher/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/CosmosDispatcher.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/CosmosDispatcher",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Orchestrator')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Orchestrator/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Orchestrator/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Orchestrator.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Orchestrator",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/OrchestratorProcessManager')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/OrchestratorProcessManager/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/OrchestratorProcessManager/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/OrchestratorProcessManager.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/OrchestratorProcessManager",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/SendMessageActivity')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/SendMessageActivity/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/SendMessageActivity/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/SendMessageActivity.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/SendMessageActivity",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/SendMessageActivity-v5')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/SendMessageActivity-v5/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/SendMessageActivity-v5/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/SendMessageActivity-v5.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/SendMessageActivity-v5",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/WaitForEmailSend-v5')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/WaitForEmailSend-v5/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/WaitForEmailSend-v5/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/WaitForEmailSend-v5.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/WaitForEmailSend-v5",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/WellbeingEmailer')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/WellbeingEmailer/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/WellbeingEmailer/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/WellbeingEmailer.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/WellbeingEmailer",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/WellBeingStatusByWeekPopulator')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/WellBeingStatusByWeekPopulator/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/WellBeingStatusByWeekPopulator/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/WellBeingStatusByWeekPopulator.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/WellBeingStatusByWeekPopulator",
                "config": {},
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Wellbeing-v1')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v1/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v1/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Wellbeing-v1.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Wellbeing-v1",
                "config": {},
                "invoke_url_template": "https://demo-eda.azurewebsites.net/api/wellbeing-v1",
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Wellbeing-v2')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v2/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v2/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Wellbeing-v2.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Wellbeing-v2",
                "config": {},
                "invoke_url_template": "https://demo-eda.azurewebsites.net/api/wellbeing-v2",
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Wellbeing-v3')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v3/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v3/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Wellbeing-v3.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Wellbeing-v3",
                "config": {},
                "invoke_url_template": "https://demo-eda.azurewebsites.net/api/wellbeing-v3",
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Wellbeing-v4')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v4/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v4/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Wellbeing-v4.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Wellbeing-v4",
                "config": {},
                "invoke_url_template": "https://demo-eda.azurewebsites.net/api/wellbeing-v4",
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Wellbeing-v5')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v5/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v5/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Wellbeing-v5.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Wellbeing-v5",
                "config": {},
                "invoke_url_template": "https://demo-eda.azurewebsites.net/api/wellbeing-v5",
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/Wellbeing-v9')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v9/",
                "script_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/bin/Wellbeing.API.dll",
                "config_href": "https://demo-eda.azurewebsites.net/admin/vfs/site/wwwroot/Wellbeing-v9/function.json",
                "test_data_href": "https://demo-eda.azurewebsites.net/admin/vfs/data/Functions/sampledata/Wellbeing-v9.dat",
                "href": "https://demo-eda.azurewebsites.net/admin/functions/Wellbeing-v9",
                "config": {},
                "invoke_url_template": "https://demo-eda.azurewebsites.net/api/wellbeing-v9",
                "language": "DotNetAssembly",
                "isDisabled": false
            }
        },
        {
            "type": "Microsoft.Web/sites/hostNameBindings",
            "apiVersion": "2021-02-01",
            "name": "[concat(parameters('sites_demo_eda_name'), '/', parameters('sites_demo_eda_name'), '.azurewebsites.net')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "siteName": "demo-eda",
                "hostNameType": "Verified"
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/wellbeing-db/leases')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('databaseAccounts_wellbeingstore_name'), 'wellbeing-db')]",
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "resource": {
                    "id": "leases",
                    "indexingPolicy": {
                        "indexingMode": "consistent",
                        "automatic": true,
                        "includedPaths": [
                            {
                                "path": "/*"
                            }
                        ],
                        "excludedPaths": [
                            {
                                "path": "/\"_etag\"/?"
                            }
                        ]
                    },
                    "partitionKey": {
                        "paths": [
                            "/_partitionKey"
                        ],
                        "kind": "Hash",
                        "version": 2
                    },
                    "conflictResolutionPolicy": {
                        "mode": "LastWriterWins",
                        "conflictResolutionPath": "/_ts"
                    }
                }
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/wellbeing-db/recommendation')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('databaseAccounts_wellbeingstore_name'), 'wellbeing-db')]",
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "resource": {
                    "id": "recommendation",
                    "indexingPolicy": {
                        "indexingMode": "consistent",
                        "automatic": true,
                        "includedPaths": [
                            {
                                "path": "/*"
                            }
                        ],
                        "excludedPaths": [
                            {
                                "path": "/\"_etag\"/?"
                            }
                        ]
                    },
                    "partitionKey": {
                        "paths": [
                            "/name"
                        ],
                        "kind": "Hash"
                    },
                    "uniqueKeyPolicy": {
                        "uniqueKeys": []
                    },
                    "conflictResolutionPolicy": {
                        "mode": "LastWriterWins",
                        "conflictResolutionPath": "/_ts"
                    }
                }
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/wellbeing-db/Reports')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('databaseAccounts_wellbeingstore_name'), 'wellbeing-db')]",
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "resource": {
                    "id": "Reports",
                    "indexingPolicy": {
                        "indexingMode": "consistent",
                        "automatic": true,
                        "includedPaths": [
                            {
                                "path": "/*"
                            }
                        ],
                        "excludedPaths": [
                            {
                                "path": "/\"_etag\"/?"
                            }
                        ]
                    },
                    "partitionKey": {
                        "paths": [
                            "/reportName"
                        ],
                        "kind": "Hash"
                    },
                    "conflictResolutionPolicy": {
                        "mode": "LastWriterWins",
                        "conflictResolutionPath": "/_ts"
                    }
                }
            }
        },
        {
            "type": "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers",
            "apiVersion": "2021-10-15",
            "name": "[concat(parameters('databaseAccounts_wellbeingstore_name'), '/wellbeing-db/WellBeingStatusEventSourced-events')]",
            "dependsOn": [
                "[resourceId('Microsoft.DocumentDB/databaseAccounts/sqlDatabases', parameters('databaseAccounts_wellbeingstore_name'), 'wellbeing-db')]",
                "[resourceId('Microsoft.DocumentDB/databaseAccounts', parameters('databaseAccounts_wellbeingstore_name'))]"
            ],
            "properties": {
                "resource": {
                    "id": "WellBeingStatusEventSourced-events",
                    "indexingPolicy": {
                        "indexingMode": "consistent",
                        "automatic": true,
                        "includedPaths": [
                            {
                                "path": "/*"
                            }
                        ],
                        "excludedPaths": [
                            {
                                "path": "/\"_etag\"/?"
                            }
                        ]
                    },
                    "partitionKey": {
                        "paths": [
                            "/entityId"
                        ],
                        "kind": "Hash"
                    },
                    "conflictResolutionPolicy": {
                        "mode": "LastWriterWins",
                        "conflictResolutionPath": "/_ts"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_CorrespondenceSystem_name')]",
            "location": "australiaeast",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "CorrelationId": {
                                            "type": "string"
                                        },
                                        "EmailAddress": {
                                            "type": "string"
                                        },
                                        "EmailMessage": {
                                            "type": "string"
                                        },
                                        "EmailSubject": {
                                            "type": "string"
                                        },
                                        "TargetSystem": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Send_message": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "ContentData": "@{base64(triggerBody()?['CorrelationId'])}",
                                            "Properties": {
                                                "TargetSystem": "@triggerBody()?['TargetSystem']"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['servicebus']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/@{encodeURIComponent(encodeURIComponent('correspondencesent'))}/messages",
                                        "queries": {
                                            "systemProperties": "None"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Send_an_email_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@triggerBody()?['TargetSystem']",
                                                "@null"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{triggerBody()?['EmailMessage']}</p>",
                                    "Subject": "@triggerBody()?['EmailSubject']",
                                    "To": "@triggerBody()?['EmailAddress']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                                "connectionName": "office365",
                                "id": "/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/providers/Microsoft.Web/locations/australiaeast/managedApis/office365"
                            },
                            "servicebus": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]",
                                "connectionName": "servicebus",
                                "id": "/subscriptions/8c98d9ee-59e7-4a29-a204-2e7c8471fda1/providers/Microsoft.Web/locations/australiaeast/managedApis/servicebus"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/authorizationRules",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/chitterchatter/AllAccess')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'chitterchatter')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "rights": [
                    "Listen",
                    "Send"
                ]
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/authorizationRules",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/correspondencesent/correspondence-send')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'correspondencesent')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "rights": [
                    "Send"
                ]
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/authorizationRules",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/correspondencesent/WellBeingListen')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'correspondencesent')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "rights": [
                    "Listen"
                ]
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/chitterchatter/CorrespondenceSubscription')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'chitterchatter')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "isClientAffine": false,
                "lockDuration": "PT30S",
                "requiresSession": false,
                "defaultMessageTimeToLive": "P14D",
                "deadLetteringOnMessageExpiration": false,
                "deadLetteringOnFilterEvaluationExceptions": false,
                "maxDeliveryCount": 5,
                "status": "Active",
                "enableBatchedOperations": true,
                "autoDeleteOnIdle": "P14D"
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/correspondencesent/WellBeingService')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'correspondencesent')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "isClientAffine": false,
                "lockDuration": "PT30S",
                "requiresSession": false,
                "defaultMessageTimeToLive": "P14D",
                "deadLetteringOnMessageExpiration": false,
                "deadLetteringOnFilterEvaluationExceptions": false,
                "maxDeliveryCount": 10,
                "status": "Active",
                "enableBatchedOperations": true,
                "autoDeleteOnIdle": "P14D"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_edastore_name'), '/default/eventgrid-deadletter')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_edastore_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_edastore_name'))]"
            ],
            "properties": {
                "immutableStorageWithVersioning": {
                    "enabled": false
                },
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_edastore_name'), '/default/wellbeing-email-q')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/queueServices', parameters('storageAccounts_edastore_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_edastore_name'))]"
            ],
            "properties": {
                "metadata": {}
            }
        },
        {
            "type": "Microsoft.Web/staticSites/userProvidedFunctionApps",
            "apiVersion": "2020-12-01",
            "name": "[concat(parameters('staticSites_wellbeing_app_name'), '/demo-eda')]",
            "location": "West US 2",
            "dependsOn": [
                "[resourceId('Microsoft.Web/staticSites', parameters('staticSites_wellbeing_app_name'))]",
                "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]"
            ],
            "properties": {
                "functionAppResourceId": "[resourceId('Microsoft.Web/sites', parameters('sites_demo_eda_name'))]",
                "functionAppRegion": "australiaeast"
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/correspondencesent/WellBeingService/ResponsesToWellBeing')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics/subscriptions', parameters('namespaces_contoso_eda_demo_name'), 'correspondencesent', 'WellBeingService')]",
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'correspondencesent')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "action": {},
                "filterType": "SqlFilter",
                "sqlFilter": {
                    "sqlExpression": "TargetSystem = 'wellbeing-v5'",
                    "compatibilityLevel": 20
                }
            }
        },
        {
            "type": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules",
            "apiVersion": "2021-06-01-preview",
            "name": "[concat(parameters('namespaces_contoso_eda_demo_name'), '/chitterchatter/CorrespondenceSubscription/WellBeing')]",
            "location": "Australia East",
            "dependsOn": [
                "[resourceId('Microsoft.ServiceBus/namespaces/topics/subscriptions', parameters('namespaces_contoso_eda_demo_name'), 'chitterchatter', 'CorrespondenceSubscription')]",
                "[resourceId('Microsoft.ServiceBus/namespaces/topics', parameters('namespaces_contoso_eda_demo_name'), 'chitterchatter')]",
                "[resourceId('Microsoft.ServiceBus/namespaces', parameters('namespaces_contoso_eda_demo_name'))]"
            ],
            "properties": {
                "action": {},
                "filterType": "CorrelationFilter",
                "correlationFilter": {
                    "label": "WellBeingStatusRecorded",
                    "properties": {}
                }
            }
        }
    ]
}